<% include partials/header.ejs %>
    <main role="main" class="container">              
        <div class="starter-template">
            <h1>Tabuada</h1>
            <p class="lead">Gere a tabuada de um número de 1 a 100</p>
        </div>

    </main><!-- /.container -->
<% include partials/footer.ejs %>

   
